<% include partials/header %>

<h1><strong>Sports Science Blog</strong></h1>
<div class="container">
  <a href="/sportsci/new">New Post</a>
</div>

<% sblog.forEach(function(blog) { %>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4"></div>
        <div class="thumbnail blog-thumbnail">
          <h2><%= blog.title %></h2>
          <img class="img-thumbnail" src="<%= blog.image %>" alt="">
          <p><strong>Date:</strong> <%= blog.created.toDateString() %></p>
          <p><%= blog.body.substring(0,100) %>...</p>
           <a href="/sportsci/<%= blog._id %>">Read More</a>
         </div>
      </div>
     </div>
  </div>
<% }) %>

<% include partials/footer %>